{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "ie": 11
                },
                "modules": false
            }
        ],
        "stage-0",
        "react"
    ],
    "plugins": [
        "external-helpers"
    ]
}